@tailwind base;
@tailwind components;
@tailwind utilities;

font-family: sans-serif;

@layer utilities {


    .wrapper {
        display: flex;
      aside {
          flex-basis: 1;
          flex-grow: 1;
          flex-shrink: 1;
          a {
              svg {
                  margin-right: 5px;
              }
              opacity: 1;
              color: white;
              transition: opacity .25s;
              &:hover {
                opacity: 0.75;
              }
          }
      }
      main {
          flex-basis: 0;
          flex-grow: 999;
          min-width: 50%;
      }
    }



    ul.report-list {
    @apply py-4;
        li {
            @apply
            bg-transparent hover:bg-blue-300
            text-gray-700  hover:text-white
            border border-gray-500 hover:border-transparent
            rounded py-3 px-4 font-semibold;
        }
    }
}
