@tailwind base;
@tailwind components;
@tailwind utilities;

font-family: sans-serif;

@layer utilities {


    header {
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        z-index: 100;
    }
    .wrapper {
        display: flex;
        margin-top: 60px;
      aside {
          flex-basis: 1;
          flex-grow: 1;
          flex-shrink: 1;
        nav {

            a {
                svg {
                    margin-right: 5px;
                }
                opacity: 1;
                color: white;
                transition: opacity .25s;
            &:hover {
                 opacity: 0.75;
             }
            }
        }

      }
      main {
          flex-basis: 0;
          flex-grow: 999;
          min-width: 50%;
      }
    }

    #sorting {
        button {
            @apply
            bg-gradient-to-b from-gray-400 to-gray-500
            border-gray-100 text-gray-100
            hover:bg-blue-400 px-3 py-1 mx-0 outline-none
        }

    }


    ul.report-list {
    @apply py-4;
        li {
            @apply
            bg-transparent hover:bg-blue-300
            text-gray-700  hover:text-white
            border border-gray-500 hover:border-transparent
            rounded py-3 px-4 font-semibold;
        }
    }
}
